.Animal-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Animal-group-item {
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}

.Animal {
  text-align: left;
  padding: 10px;
  width: 200px;
  min-height: 200px;
  border:5px solid #37aadc;
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
}

.Animal-emoji {
  text-align: center;
  font-size: 50px;
}

.Animal-name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.Click-group {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.Click {
  margin-top: 10px;
}

.Open {
  margin-top: 10px;
}

.Delivered {
  margin-top: 10px;
}

.title {
  font-weight: bold;
}
